<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mahender</title>
      <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
    <div class="billPage">
        <div class="header">
            <img src="/images/saiBaba.png">
           <h1>Ohm Sai Medical Store</h1>
           <p>Opp.mistari chock ,kotli,sirsa(125055)</p>
           <h2>Mobile no. : 9729957330</h2>
        </div> 
        
        <div class="custmer">
            <table>
                  <h2>Custemer Details</h2>
                  <tr>
                    <th>Bill No.</th>
                    <th>{{id}}</th>
                  </tr>
                  <tr>
                    <th>Custmer Name</th>
                    <th>{{CName}}</th>
                  </tr>
                  <tr>
                    <th>Custmer Mobile No.</th>
                    <th>{{CMobile}}</th>
                  </tr>
                  <tr>
                    <th>Custmer E-mail</th>
                    <th>{{Cemail}}</th>
                  </tr>
                  <tr>
                    <th>Date  /  Time</th>
                    <th>01/12/20   / 8:30</th>
                  </tr>
            </table>
            <div class="product"></div>
             <table>
                   <h2>Purches Details</h2>
                   <tr>
                       <th>Sr.No.</th>
                       <th>Medicine Name</th>
                       <th>Quintity</th>
                       <th>Rate</th>
                       <th>Total</th>
                   </tr>
                   <tr>
                       <th>1</th>
                       <th>{{m1}}</th>
                       <th>{{Q1}}</th>
                       <th>{{R1}}</th>
                       <th>{{mt1}}</th>
                    </tr>
                     <tr>
                       <th>2</th>
                       <th>{{m2}}</th>
                       <th>{{Q2}}</th>
                       <th>{{R2}}</th>
                       <th>{{mt2}}</th>
                    </tr>
                     <tr>
                       <th>3</th>
                       <th>{{m3}}</th>
                       <th>{{Q3}}</th>
                       <th>{{R3}}</th>
                       <th>{{mt3}}</th>
                    </tr>
                        <th></th> 
                        <th></th>
                        <th></th>
                        <th>Total</th>
                        <th>{{total}}</th>
                        </tr>
                    
             </table>
            
        </div>
        <button>Print</button>
        <a href="http://localhost/"><button>New</button></a>
    </div>
</body>
</html>